/* immporting fonts */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Instrument+Sans:wght@400;700&display=swap');

/* global styles */
body {
    margin: 0;
    font-family: 'Instrument Sans', sans-serif; 
     font-weight: 700 ; 
    background-color: #F5F2F2;
    color: #2B2A2A; 
}

/* NAV BAR */
nav {
    display: flex;
    justify-content: space-between; /* space logo, buttons div, GitHub icon equally */
    align-items: flex-start;        
    padding: 0 50px 0 50px;                /* 50px left and right margin */
    background-color: #F5F2F2;
    font-family: 'Instrument Sans', sans-serif;
}

/* LOGO */
#logo {
    width: 44px;
    height: 54px;
    margin-top: 2vb;  
    margin-right: 18vb;
}

/* BUTTONS CONTAINER */
.nav-buttons {
    display: flex;
    gap: 170px;     /* space between Home, Menu, About Us */
    margin-top: 0;  
}

/* BUTTONS */
 button {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Instrument Sans', sans-serif;
    color: #2B2A2A;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 4.5vb;
    transition: color 0.3s ease;
}

button:hover {
    color: #FEB05D;
}

/* GITHUB ICON */
#source-icon {
    width: 120px;
    height: 32px;
    margin-top: 4vb; 
    margin-left: 6vb;
}

